/* #febe01 #332200 #111 #b2b2b2 */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
}

div {
    background-color: #111;
    color: white;
    padding: 30px;
    border-radius: 4px;
    margin: 20px;
}

h2 {margin: 0;}

p {
    color: #b2b2b2;
}

span {
    color: #febe01;
}

a {
    display: inline-block;
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}