/* 
cinza: #f7f7f7
cinza-escuro: #c6c6c6
vermelho: #ee2211
*/

body {
    display: grid;
    justify-items: center;
    gap: 60px;
    margin: 0;
    margin-top: 60px;
    background-color: #f7f7f7;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.3;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: black;
    background-color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.conteudo {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.conteudo .detalhe {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #e21;
}

.introducao {
    display: grid;
    justify-items: end;
    align-content: center;
    background-color: #fff;
    padding: 40px;
    text-align: right;
}

.introducao h1 {
    margin: 0;
}

.btn {
    color: #fff;
    background-color: #e21;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}

.foto {
    max-width: 100%;
}

.subtitulo {
    color: rgba(0, 0, 0, 0.2);
    font-size: 64px;
    padding: 40px;
    text-align: right;
    text-transform: uppercase;
    align-self: center;
}

.vantagens {
    background-color: #fff;
    padding: 40px;
}

.vantagens .vantagens-item {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
}

.vantagens p, .vantagens h3 {
    margin: 0;
}

.vantagens .vantagens-item p {
    grid-column: 2;
}

.footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}
