/* 
cinza: #f7f7f7
cinza-escuro: #c6c6c6
vermelho: #ee2211
*/

body {
  display: grid;
  justify-items: center;
  gap: 60px;
  margin: 0;
  margin-top: 60px;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu li a {
  display: inline-block;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.menu li a:hover {
  border-color: #e21;
}

main {
  display: grid;
  max-width: 1000px;
  position: relative;
}

main::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao {
  display: grid;
  justify-items: end;
  align-content: center;
  gap: 20px;
  padding: 40px;
  background-color: #fff;
  text-align: right;
}

.introducao h1 {
  font-size: 2rem;
}

.botao {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #e21;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.foto {
  max-width: 100%;
}

.subtitulo {
  height: 100%;
  display: grid;
  align-items: center;
  padding-right: 40px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  text-align: right;
  text-transform: uppercase;
  background-image: url("./img/onda.svg");
}

.vantagens {
  background-color: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item p {
  grid-column: 2;
  align-self: start;
}

footer {
  width: 100%;
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}
